In [336]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [337]:
main_train=pd.read_csv('../Datasets/train_kaggle.csv')
main_test=pd.read_csv('../Datasets/test_kaggle.csv')

main_train_backup=pd.read_csv('../Datasets/train_kaggle.csv',index_col='Customer_ID')
main_test_backup=pd.read_csv('../Datasets/test_kaggle.csv',index_col='Customer_ID')

In [338]:
df=main_train
df_test=main_test

In [339]:
df.head()

   Customer_ID outlet_city luxury_sales fresh_sales dry_sales cluster_catgeory
0   10493832.0    Kelaniya       1209.6       756.0    5292.0                4
1   10178643.0    Moratuwa      1590.12     1060.08   6007.12                1
2   10513916.0     Wattala      2288.88     1481.04   9155.52                4
3   10334589.0     Wattala      2274.94     1739.66   9099.76                4
4   10458365.0    Kelaniya      2345.49     2069.55   9243.99                4

In [340]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774155 entries, 0 to 774154
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       774153 non-null  float64
 1   outlet_city       774153 non-null  object
 2   luxury_sales      774120 non-null  object
 3   fresh_sales       774114 non-null  object
 4   dry_sales         774125 non-null  object
 5   cluster_catgeory  774154 non-null  object
dtypes: float64(1), object(5)
memory usage: 35.4+ MB

In [341]:
def checking_number_of_unique_values(dt):
    for col in dt.columns:
        print(f"{col} has {len(dt[col].unique())} values")
        
checking_number_of_unique_values(df)

Customer_ID has 774154 values
outlet_city has 21 values
luxury_sales has 143898 values
fresh_sales has 257031 values
dry_sales has 270132 values
cluster_catgeory has 19 values

In [342]:
#Checking city
df['outlet_city'].unique()

array(['Kelaniya', 'Moratuwa', 'Wattala', 'Homagama',
       'Dehiwala-Mount Lavinia', 'Panadura', 'Kaduwela', 'Peliyagoda',
       'Kotte', 'Nuwara Eliya', 'Batticaloa', 'Colombo', 'Jaffna',
       'Gampaha', 'Kalmunai', 'Galle', 'Katunayake', 'Negombo',
       'Trincomalee', 'Kandy', nan], dtype=object)

In [343]:
#Handling city
df.outlet_city=df.outlet_city.map(lambda x:x.lower() if isinstance(x, str) else x)
df_test.outlet_city=df_test.outlet_city.map(lambda x:x.lower() if isinstance(x, str) else x)

In [344]:
#Handling salles columns

#Function to remove anomalies
def get_anomaly_indices(dt,col):
    ls=[]
    indices=[]
    for i in range(len(dt)):
        try:
            ls.append(float(dt[col][i]))
        except Exception as e:
            indices.append(i)
            
    return indices

#Luxury Sales
df_ls=get_anomaly_indices(df,'luxury_sales')
df_fs=get_anomaly_indices(df,'fresh_sales')
df_ds=get_anomaly_indices(df,'dry_sales')

indices_to_drop=np.unique(df_ls+df_fs+df_ds)
print(len(indices_to_drop))

#Dropping indices
df=df.drop(index=indices_to_drop,axis=0)

#Turning into float
df.luxury_sales=df.luxury_sales.map(lambda x:float(x) if isinstance(x, str) else x)
df.fresh_sales=df.fresh_sales.map(lambda x:float(x) if isinstance(x, str) else x)
df.dry_sales=df.dry_sales.map(lambda x:float(x) if isinstance(x, str) else x)

22

In [345]:
#Luxury Sales
df_ls=get_anomaly_indices(df_test,'luxury_sales')
df_fs=get_anomaly_indices(df_test,'fresh_sales')
df_ds=get_anomaly_indices(df_test,'dry_sales')

indices_to_drop=np.unique(df_ls+df_fs+df_ds)
print(len(indices_to_drop))

#Dropping indices
df_test=df_test.drop(index=indices_to_drop,axis=0)

#Turning into float
df_test.luxury_sales=df_test.luxury_sales.map(lambda x:float(x) if isinstance(x, str) else x)
df_test.fresh_sales=df_test.fresh_sales.map(lambda x:float(x) if isinstance(x, str) else x)
df_test.dry_sales=df_test.dry_sales.map(lambda x:float(x) if isinstance(x, str) else x)

4

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 774133 entries, 0 to 774154
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       774131 non-null  float64
 1   outlet_city       774131 non-null  object
 2   luxury_sales      774098 non-null  float64
 3   fresh_sales       774092 non-null  float64
 4   dry_sales         774103 non-null  float64
 5   cluster_catgeory  774132 non-null  object
dtypes: float64(4), object(2)
memory usage: 41.3+ MB

In [347]:
#Handling the cluster categories
import warnings 
warnings.filterwarnings('ignore') 

#Checking  the target variables
print(df['cluster_catgeory'].unique())

df.loc[df.cluster_catgeory=='6\\',:]
df.cluster_catgeory[df.cluster_catgeory=='6\\']=6

df['cluster_catgeory']=df['cluster_catgeory'].map(lambda x:int(x) if isinstance(x, str) else x)

print(df['cluster_catgeory'].unique())

['4' '1' '99' '2' '5' '3' '6' '6\\' 4 2 1 95 3 98 5 6 nan 100.0 89.0]
[  4.   1.  99.   2.   5.   3.   6.  95.  98.  nan 100.  89.]

In [348]:
#Dropping missing values
df=df.dropna()
df_test=df_test.dropna()

In [349]:
df.head()

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
0,10493832.0,kelaniya,1209.60,756.00,5292.00,4.0
1,10178643.0,moratuwa,1590.12,1060.08,6007.12,1.0
2,10513916.0,wattala,2288.88,1481.04,9155.52,4.0
3,10334589.0,wattala,2274.94,1739.66,9099.76,4.0
4,10458365.0,kelaniya,2345.49,2069.55,9243.99,4.0

Given it is only 5 values we drop them

In [350]:
df=df.loc[df.cluster_catgeory<=6,:]

In [351]:
df.head()

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
0,10493832.0,kelaniya,1209.60,756.00,5292.00,4.0
1,10178643.0,moratuwa,1590.12,1060.08,6007.12,1.0
2,10513916.0,wattala,2288.88,1481.04,9155.52,4.0
3,10334589.0,wattala,2274.94,1739.66,9099.76,4.0
4,10458365.0,kelaniya,2345.49,2069.55,9243.99,4.0

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 774034 entries, 0 to 774154
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_ID       774034 non-null  float64
 1   outlet_city       774034 non-null  object
 2   luxury_sales      774034 non-null  float64
 3   fresh_sales       774034 non-null  float64
 4   dry_sales         774034 non-null  float64
 5   cluster_catgeory  774034 non-null  float64
dtypes: float64(5), object(1)
memory usage: 41.3+ MB

In [354]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40745 entries, 0 to 40748
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer_ID   40745 non-null  int64
 1   outlet_city   40745 non-null  object
 2   luxury_sales  40745 non-null  float64
 3   fresh_sales   40745 non-null  float64
 4   dry_sales     40745 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.9+ MB

In [355]:
## Sending data
df.to_csv('../Datasets/train.csv',index='Customer_ID')
df_test.to_csv('../Datasets/test.csv',index='Customer_ID')